<div class="main-content full" style="min-height:1000px;background-color:#ccc">
  <br><br><br><br>
  <div class="row">
    <div class="col s12 offset-l3 l6">
      <h1 class="text-long-shadow col s12">등록되지 않은 매물입니다</h1>
      <center>
        <a href="/" class="btn waves-effect waves-light" style="margin-top:40px;">Homepage</a>
      </center>
    </div>
  </div>
</div>
<style>
  .text-long-shadow{
    text-shadow:
      #1d7d74  1px  1px,
      #1d7d74  2px  2px,
      #1d7d74  3px  3px,
      #1d7d74  4px  4px,
      #1d7d74  5px  5px,
      #1d7d74  6px  6px,
      #1d7d74  7px  7px,
      #1d7d74  8px  8px,
      #1d7d74  9px  9px,
      #1d7d74 10px 10px,
      #1d7d74 11px 11px,
      #1d7d74 12px 12px,
      #1d7d74 13px 13px,
      #1d7d74 14px 14px,
      #1d7d74 15px 15px,
      #208b81 16px 16px,
      #208b81 17px 17px,
      #208b81 18px 18px,
      #208b81 19px 19px,
      #208b81 20px 20px,
      #208b81 21px 21px,
      #26a69a 22px 22px,
      #26a69a 23px 23px,
      #26a69a 24px 24px,
      #26a69a 25px 25px;
    font-size:5rem;
    color:#fff !important;
    text-align:center;padding:20px 0 !important
  }
</style>