<div class="container-fluid">
  <br><br><br><br>
  <div class="col s12 offset-l3 l6">
    <h1 class="text-long-shadow col s12">이미 삭제된 매물입니다</h1>
    <center>
      <a href="/" class="btn waves-effect waves-light" style="margin-top:40px;">Homepage</a>
    </center>
  </div>
</div>
<style>
  .text-long-shadow{
    text-shadow:
      #1d7d74  1px  1px,
      #1d7d74  2px  2px,
      #1d7d74  3px  3px,
      #1d7d74  4px  4px,
      #1d7d74  5px  5px,
      #1d7d74  6px  6px,
      #1d7d74  7px  7px,
      #1d7d74  8px  8px,
      #1d7d74  9px  9px,
      #1d7d74 10px 10px,
      #1d7d74 11px 11px,
      #208b81 12px 12px,
      #208b81 13px 13px,
      #208b81 14px 14px,
      #208b81 15px 15px,
      #26a69a 16px 16px,
      #26a69a 17px 17px,
      #26a69a 18px 18px,
      #26a69a 19px 19px;
    font-size:5rem;
    color:#fff !important;
    text-align:center;padding:20px 0 !important
  }
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
</style>