<div class="post">
  <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <a href="//www.straphq.com/resources/mhealth-data-is-not-enough">
        <div class="card-image-bg" style="background-image:url('//cdn2.hubspot.net/hubfs/514770/img/feature-image/thumbnails/feature-healthovate-01.jpg?t=1462536216307');"></div>
      </a>
    </div>
    <div class="card-content">
      <span class="card-title grey-text text-darken-4"><i class="activator icon-share right"></i><a href="//www.straphq.com/resources/mhealth-data-is-not-enough"><span class="">제목</span></a>
      </span>
      <!-- <p><a class="btn-primary btn waves-effect" href="https://www.straphq.com/resources/mhealth-data-is-not-enough">Read More</a></p> -->
    </div>
    <div class="card-action">
      <a class="author-link tooltipped" data-position="bottom" data-delay="20" data-tooltip="Steve Caldwell" href="//www.straphq.com/resources/author/steve-caldwell">
        <div class="hs-author-avatar"> <img class="circle" src="//cdn2.hubspot.net/hubfs/514770/img/team/steve-125.png?t=1462536216307"> </div>
      </a>
      <span class="center byline truncate">부가정보<a class="topic-name" href="/topic/Blog">Blog</a></span>
      <a class="btn btn-primary waves-effect" href="//www.straphq.com/resources/mhealth-data-is-not-enough">Read More</a>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">여기에 약식 추가정보를 넣고싶으면 넣을 수 있을 듯<i class="icon-close right"></i></span>
      <p><span id="hs_cos_wrapper_" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_blog_social_sharing" style="" data-hs-cos-general-type="widget" data-hs-cos-type="blog_social_sharing">
      </span></p>
      <div class="hs-blog-social-share">
        <ul class="hs-blog-social-share-list">
          <li class="hs-blog-social-share-item hs-blog-social-share-item-twitter">
            <!-- Twitter social share -->
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en" data-url="https://www.straphq.com" data-size="medium" data-text="Resources">Tweet</a>
          </li>
          <li class="hs-blog-social-share-item hs-blog-social-share-item-linkedin">
            <!-- LinkedIn social share -->
            <script type="IN/Share" data-url="https://www.straphq.com" data-showzero="true" data-counter="right"></script>
          </li>
          <li class="hs-blog-social-share-item hs-blog-social-share-item-facebook">
            <!-- Facebook share -->
            <div class="fb-like" data-href="https://www.straphq.com" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true" data-width="120"></div>
          </li>
          <li class="hs-blog-social-share-item hs-blog-social-share-item-google-plus">
            <!-- Google +1 -->
            <div class="g-plusone" data-size="medium" data-href="https://www.straphq.com"></div>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>