<link href="//cdn2.hubspot.net/hubfs/514770/css/strap.css?t=1462536216307" rel="stylesheet">

<div class="main-content full blog blog-new">
  <div class="content" style="background-image:url(/static/images/landing.jpg);background-size: 100%;background-repeat: no-repeat;">
    <div class="sections">
      <section id="features" class="scrollspy dark-text" style="height:600px;">
        <div class="container relative z-index-5">
          <div class="row">
            <h1 class="left">잔방처리반 - 잠시 머무를 곳을 찾아보세요!</h2>
          </div>
          <br/><br/><br/><br/>
          <div class="row">
            <h3 class="right">::단기 임대 거래를 위한 플랫폼::</h3>
            <h3 class="right">전대차계약, 오피스텔, 고시텔 등 다양한 매물을단기로 빌리고 또 빌려주세요!</h3>
            <h3 class="right">당신들의 잔방을 책임져드립니다</h3>
          </div>
        </div>
      </section>
      <section id="features" class="scrollspy dark-text" style="background: rgba(255, 255, 255, .8);">
        <div class="container relative z-index-5">
          <div class="row">
            <div class="col s12 m12 l12 no-padding">
              <div class="full left">
                <div class="col s12 l4">
                  <div class="vert-margined full left">
                    <center>
                      <i class="text-blue material-icons" style="font-size: 3rem;">store</i>
                      <h4 class="uppercase text-bold">가입비 무료!</h4>
                      <p class="small">다양한 방을 만나보세요</p>
                    </center>
                  </div>
                </div>
                <div class="col s12 l4">
                  <div class="vert-margined full left">
                    <center>
                      <i class="text-blue material-icons" style="font-size: 3rem;">search</i>
                      <h4 class="uppercase text-bold">필터 검색</h4>
                      <p class="small">원하는 조건에 맞는 방 검색</p>
                    </center>
                  </div>
                </div>
                <div class="col s12 l4">
                  <div class="vert-margined full left">
                    <center>
                      <i class="text-blue material-icons" style="font-size: 3rem;">location_on</i>
                      <h4 class="uppercase text-bold">지역 기반</h4>
                      <p class="small">서울대입구, 낙성대, 고시촌</p>
                      <p class="small">다양한 단기 임대 매물</p>
                    </center>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="contracts" class="scrollspy" style="background: rgba(255, 255, 255, .5);">
        <div class="container">
          <div class="row vert-margined-20">
            <div class="horiz-padded-2 full left listing-title">
              <% unless @rooms_oneroom.empty? %>
              <a class="vert-margined right btn btn-secondary waves-effect" href="/rooms">모두 보기</a>
              <% end %>
              <h2 class="vert-margined">단기입주 가능한 원룸/오피스텔</h2>
              <p id="target" class="scrollspy">단기입주 위주의 원룸과 오피스텔 목록입니다</p>
            </div>
            <% if @rooms_oneroom.empty? %>
            <div class="row">
              <center>
                <h3>원룸/오피스텔 매물이 없습니다</h3>
                <a href="/rooms/new">매물 등록하러 가기</a>
              </center>
            </div>
            <% else %>
            <div class="post-listing">
              <% @rooms_oneroom.each do |room| %>
                <%= render partial: "partials/room", :locals => {:room => room} %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </section>
      <section id="lease" class="scrollspy" style="background: rgba(255, 255, 255, .5);">
        <div class="container">
          <div class="row vert-margined-20">
            <div class="horiz-padded-2 full left listing-title">
              <% unless @rooms_oneroom.empty? %>
              <a class="vert-margined right btn btn-secondary waves-effect" href="/rooms">모두 보기</a>
              <% end %>
              <h2 class="vert-margined">단기 전대차 매물</h2>
              <p class="">반년 이하의 단기 전대차 매물이 올라오는 곳입니다</p>
            </div>
            <% if @rooms_not_oneroom.empty? %>
            <div class="row">
              <center>
                <h3>전대차 매물이 없습니다</h3>
                <a href="/rooms/new">매물 등록하러 가기</a>
              </center>
            </div>
            <% else %>
            <div class="post-listing">
              <% @rooms_not_oneroom.each do |room| %>
                <%= render partial: "partials/room", :locals => {:room => room} %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<footer class="strap-footer full left">
  <div class="container text-white">
    <div class="row">
      <div class="full left">
        <div class="col s12 m8">
          <p class="small full source-org copyright">Made by <a href="http://mrl.snu.ac.kr/~pjhjohn">[JoonHo Park]</a><a class="horiz-margined" href="/terms">Terms</a><a class="horiz-margined" href="/privacy">Privacy Policy</a></p>
        </div>
        <div class="col s12 m4 text-right">
          <h3>
            <a class="padded" href="https://github.com/pjhjohn/danbang" target="_blank"><i class="icon-github"></i></a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="//cdn2.hubspot.net/hubfs/514770/js/scrollmagic/ScrollMagic.min.js?t=1462536216307"></script>
<script src="//cdn2.hubspot.net/hubfs/514770/js/scrollmagic/plugins/TweenMax.min.js?t=1462536216307"></script>
<script src="//cdn2.hubspot.net/hubfs/514770/js/scrollmagic/plugins/ScrollToPlugin.min.js?t=1462536216307"></script>
<script src="//cdn2.hubspot.net/hubfs/514770/js/scrollmagic/plugins/animation.gsap.min.js?t=1462536216307"></script>
<script src="//cdn2.hubspot.net/hubfs/514770/js/min/typeout-min.js?t=1462536216307"></script>
<script src="//cdn2.hubspot.net/hubfs/514770/js/min/headroom-min.js?t=1462536216307"></script>
<script src="//cdn2.hubspot.net/hubfs/514770/js/min/main-home-min.js?t=1462536216307"></script>