<div style="background-image:url(/static/images/landing.jpg);background-size: 100%;background-repeat: no-repeat;">
  <div class="dark-text" style="height:540px;">
    <div class="container relative z-index-5">
      <br/><br/>
      <div class="row">
        <h2 class="left">잔방처리반 - 잠시 머무를 곳을 찾아보세요!</h2>
      </div>
      <br/><br/>
      <div class="row"><h4 class="right" style="margin:0px;">::단기 임대 거래를 위한 플랫폼::</h4></div>
      <div class="row"><h4 class="right" style="margin:0px;">전대차계약, 오피스텔, 고시텔 등</h4></div>
      <div class="row"><h4 class="right" style="margin:0px;">다양한 매물을단기로 빌리고 또 빌려주세요!</h4></div>
      <div class="row"><h4 class="right" style="margin:0px;">당신들의 잔방을 책임져드립니다</h4></div>
    </div>
  </div>
  <div class="dark-text" style="background: rgba(255, 255, 255, .8);padding-top:30px;padding-bottom:30px;">
    <div class="container relative">
      <div class="row" style="margin-bottom:0px;">
        <div class="col s12 m4">
          <div class=" full left">
            <center>
              <i class="text-blue material-icons" style="font-size: 3rem;">store</i>
              <h4>가입비 무료!</h4>
              <h6>다양한 방을 만나보세요</h6>
            </center>
          </div>
        </div>
        <div class="col s12 m4">
          <div class=" full left">
            <center>
              <i class="text-blue material-icons" style="font-size: 3rem;">search</i>
              <h4>필터 검색</h4>
              <h6>원하는 조건에 맞는 방 검색</h6>
            </center>
          </div>
        </div>
        <div class="col s12 m4">
          <div class=" full left">
            <center>
              <i class="text-blue material-icons" style="font-size: 3rem;">location_on</i>
              <h4>지역 기반</h4>
              <h6>서울대입구, 낙성대, 고시촌</h6>
              <h6>다양한 단기 임대 매물</h6>
            </center>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="background: rgba(255, 255, 255, .5);padding-top:20px;padding-bottom:20px;">
    <div class="container">
      <div class="row" style="margin-bottom:0px;">
        <div>
          <% unless @rooms_oneroom.empty? %>
          <a class="right btn btn-secondary waves-effect" href="/rooms">모두 보기</a>
          <% end %>
          <h3>단기입주 가능한 원룸/오피스텔</h3>
          <h5>단기입주 위주의 원룸과 오피스텔 목록입니다</h5>
        </div>
        <% if @rooms_oneroom.empty? %>
        <div class="row">
          <center>
            <h4>원룸/오피스텔 매물이 없습니다</h4>
            <a href="/rooms/new">매물 등록하러 가기</a>
          </center>
        </div>
        <% else %>
        <div class="post-listing">
          <% @rooms_oneroom.each do |room| %>
            <%= render partial: "partials/room", :locals => {:room => room} %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div style="background: rgba(255, 255, 255, .5);padding-top:20px;padding-bottom:20px;">
    <div class="container">
      <div class="row" style="margin-bottom:0px;">
        <div>
          <% unless @rooms_oneroom.empty? %>
          <a class=" right btn btn-secondary waves-effect" href="/rooms">모두 보기</a>
          <% end %>
          <h3>단기 전대차 매물</h3>
          <h5>반년 이하의 단기 전대차 매물이 올라오는 곳입니다</h5>
        </div>
        <% if @rooms_not_oneroom.empty? %>
        <div class="row">
          <center>
            <h4>전대차 매물이 없습니다</h4>
            <a href="/rooms/new">매물 등록하러 가기</a>
          </center>
        </div>
        <% else %>
        <div class="post-listing">
          <% @rooms_not_oneroom.each do |room| %>
            <%= render partial: "partials/room", :locals => {:room => room} %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>