<link href="//cdn2.hubspot.net/hubfs/514770/css/strap.css?t=1462536216307" rel="stylesheet">
<div class="main-content full blog blog-new">
  <div class="content">
    <div class="sections">
      <span id="hs_cos_wrapper_slider_hero" class="hs_cos_wrapper hs_cos_wrapper_widget hs_cos_wrapper_type_custom_widget" style="" data-hs-cos-general-type="widget" data-hs-cos-type="custom_widget"><div class="slider">
        <ul class="slides">
          <li>
            <img src="//cdn2.hubspot.net/hub/514770/hubfs/img/slides/bg-integration.jpg?t=1462536216307&amp;width=2000&amp;height=800" width="2000" height="800" alt="slide1.jpeg" srcset="//cdn2.hubspot.net/hub/514770/hubfs/img/slides/bg-integration.jpg?t=1462536216307&amp;width=1000&amp;height=400 1000w, //cdn2.hubspot.net/hub/514770/hubfs/img/slides/bg-integration.jpg?t=1462536216307&amp;width=2000&amp;height=800 2000w, //cdn2.hubspot.net/hub/514770/hubfs/img/slides/bg-integration.jpg?t=1462536216307&amp;width=3000&amp;height=1200 3000w, //cdn2.hubspot.net/hub/514770/hubfs/img/slides/bg-integration.jpg?t=1462536216307&amp;width=4000&amp;height=1600 4000w, //cdn2.hubspot.net/hub/514770/hubfs/img/slides/bg-integration.jpg?t=1462536216307&amp;width=5000&amp;height=2000 5000w, //cdn2.hubspot.net/hub/514770/hubfs/img/slides/bg-integration.jpg?t=1462536216307&amp;width=6000&amp;height=2400 6000w" sizes="(max-width: 2000px) 100vw, 2000px">
              <!-- random image -->
              <div class="caption left-align">
                <div class="full left">
                  <div class="row">
                    <div class="col-xs-6 col-sm-3 col-xs-offset-3 col-sm-offset-0 col-md-3 col-lg-4">
                      <img src="//cdn2.hubspot.net/hub/514770/hubfs/img/benefit-realtime.png?t=1462536216307&amp;width=600&amp;height=475" width="600" height="475" alt="Sleep and Activity Engagement" srcset="//cdn2.hubspot.net/hub/514770/hubfs/img/benefit-realtime.png?t=1462536216307&amp;width=300&amp;height=238 300w, //cdn2.hubspot.net/hub/514770/hubfs/img/benefit-realtime.png?t=1462536216307&amp;width=600&amp;height=475 600w, //cdn2.hubspot.net/hub/514770/hubfs/img/benefit-realtime.png?t=1462536216307&amp;width=900&amp;height=713 900w, //cdn2.hubspot.net/hub/514770/hubfs/img/benefit-realtime.png?t=1462536216307&amp;width=1200&amp;height=950 1200w, //cdn2.hubspot.net/hub/514770/hubfs/img/benefit-realtime.png?t=1462536216307&amp;width=1500&amp;height=1188 1500w, //cdn2.hubspot.net/hub/514770/hubfs/img/benefit-realtime.png?t=1462536216307&amp;width=1800&amp;height=1425 1800w" sizes="(max-width: 600px) 100vw, 600px">
                    </div>
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-8">
                      <h1>다양한 단기원룸을 만나보세요</h1>
                      <p><a href="#target">더 만나보기</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </span>
      <section id="features" class="scrollspy dark-text">
        <div class="container relative z-index-5">
          <div class="row">
            <div class="col s12 m12 l12 no-padding">
              <div class="full left">
                <div class="col s12 m4">
                  <div class="vert-margined full left">
                    <i class="text-blue text-center full extra-large-text icon-integrations"></i>
                    <h4 class="uppercase text-bold">가입비 무료!</h4>
                    <p class="small">
                      회원가입 후 다양한 방을 만나보세요
                    </p>
                  </div>
                </div>
                <div class="col s12 m4">
                  <div class="vert-margined full left">
                    <i class="text-blue text-center full extra-large-text icon-stats"></i>
                    <h4 class="uppercase text-bold">필터 검색</h4>
                    <p class="small">원하는 조건에 맞는 방 검색 가능</p>
                  </div>
                </div>
                <div class="col s12 m4">
                  <div class="vert-margined full left">
                    <i class="text-blue text-center extra-large-text icon-phone"></i><i class="text-blue text-center extra-large-text icon-desktop"></i>
                    <h4 class="uppercase text-bold">지역 기반</h4>
                    <p class="small">
                      서울대입구, 낙성대, 고시촌 주변 다양한 단기 임대 매물
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="contracts" class="scrollspy gray-02-bg">
        <div class="container">
          <div class="row vert-margined-20">
            <div class="horiz-padded-2 full left listing-title">
              <a class="vert-margined right btn btn-secondary waves-effect" href="//www.straphq.com/resources/topic/company-news">모두 보기</a>
              <h2 class="vert-margined">단기입주 가능한 원룸/오피스텔</h2>
              <p id="target" class="scrollspy">단기입주 위주의 원룸과 오피스텔 목록입니다</p>
            </div>
            <div class="post-listing">
              <% (1..6).each do |i| %>
                <%= render partial: "post" %>
              <% end %>
            </div>
          </div>
        </div>
      </section>
      <section id="lease" class="scrollspy gray-02-bg">
        <div class="container">
          <div class="row vert-margined-20">
            <div class="horiz-padded-2 full left listing-title">
              <a class="vert-margined right btn btn-secondary waves-effect" href="//www.straphq.com/resources/topic/company-news">모두 보기</a>
              <h2 class="vert-margined">단기 전대차 매물</h2>
              <p class="">반년 이하의 단기 전대차 매물이 올라오는 곳입니다</p>
            </div>
            <div class="post-listing">
              <% (1..6).each do |i| %>
                <%= render partial: "post" %>
              <% end %>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>

<footer class="strap-footer full left">
  <div class="container text-white">
    <div class="row">
      <div class="full left">
        <div class="col s12 m8">
          <p class="small full source-org copyright">© 2016 Strap. Made with <i class="icon-favorite"></i> in Cincinnati, OH. <a class="horiz-margined" href="/terms">Terms</a><a class="horiz-margined" href="/privacy">Privacy Policy</a></p>
        </div>
        <div class="col s12 m4 text-right">
          <h3>
            <a class="padded" href="https://github.com/pjhjohn/danbang" target="_blank"><i class="icon-github"></i></a>
          </h3>
        </div>
      </div>
    </div>
  </div>
</footer>