// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map_canvas_id_lnglat img {
  max-width: none;
}
#map_canvas_id_lnglat label {
  width: auto;
  display: inline;
}

// Strap
#header #mainHeader .mobile-navcta {
position:absolute;
right:4em;
z-index:1;
}

#mainHeader-mobile-nav {
background:#fff;
}

#mainHeader-mobile-nav li {
-webkit-border-radius:1.5em;
-ms-border-radius:1.5em;
-o-border-radius:1.5em;
-border-radius:1.5em;
border-radius:1.5em;
background-color:#fafafa;
text-align:center;
color:rgba(59,66,80,0.8);
font-size:18px;
margin:.25em;
}

#mainHeader-mobile-nav li:hover,#mainHeader-mobile-nav li:active,#mainHeader-mobile-nav li:focus {
background-color:#f0f0f0;
color:#3b4250;
}

#mainHeader-mobile-nav li a {
display:block;
color:rgba(59,66,80,0.8);
font-size:1.25em;
line-height:1.25;
height:auto;
justify-content:center;
padding:.5em;
}

#mainHeader-mobile-nav .btn {
display:inline-block;
height:auto;
line-height:1;
font-size:1em;
padding:.75em;
}

.slack-header-cta {
background:#02A8F3;
color:#fff;
position:fixed;
z-index:30;
height:64px;
}

.slack-header-cta img {
height:60px;
}

#mainHeader {
z-index:15;
background:#fff;
color:#90A4AE;
-webkit-box-shadow:0 .25em .25em rgba(0,0,0,0.1);
-moz-box-shadow:0 .25em .25em rgba(0,0,0,0.1);
box-shadow:0 .25em .25em rgba(0,0,0,0.1);
position:fixed;
top:0;
height:64px;
}

#mainHeader .btn-icon {
vertical-align:middle;
font-size:1.5em;
background:#fff;
line-height:0.9;
height:auto;
float:none;
-webkit-transition:all .3s ease-in-out;
transition:all .3s ease-in-out;
margin:10px 4px;
padding:.25em;
}

#mainHeader .btn-icon i {
color:#90A4AE;
height:auto;
font-size:1em;
line-height:1;
}

#mainHeader .btn-secondary {
color:#47b8e5;
min-width:0;
font-size:18px;
padding:.7em 1em;
}

#mainHeader .btn-secondary:hover,#mainHeader .btn-secondary:active,#mainHeader .btn-secondary:focus {
background:#fff;
color:#1fa5da;
}

#mainHeader .navbar-header .navbar-brand {
height:64px;
display:block;
padding:.5em;
}

#mainHeader .navbar-header .navbar-brand img {
max-height:100%;
}

#mainHeader>ul>li {
background:none;
margin:0 4px;
}

#mainHeader>ul>li>a {
color:#90A4AE;
font-size:21px;
background:#fff;
}

#mainHeader>ul>li>a i {
font-size:18px;
}

#mainHeader .dropdown-content {
top:64px!important;
}

.text-nonactive,.text-blue,.text-blue.btn-flat,#mainHeader .btn-icon:hover i,#mainHeader .btn-icon:active i,#mainHeader .btn-icon:focus i,#mainHeader>ul>li>a:hover,#mainHeader>ul>li>a:active,#mainHeader>ul>li>a:focus,.hero-card .strap-theme:first-child i,#data-orbit-section .data-orbit-wrap>li.data-orbit-caption .change-text-wrap .change-text,#blog-nav .btn-icon:hover i,#blog-nav .btn-icon:hover>span,#blog-nav .btn-icon:active i,#blog-nav .btn-icon:active>span,#blog-nav .btn-icon:focus i,#blog-nav .btn-icon:focus>span {
color:#47b8e5;
}

.text-white,.tabs.tabs-invert li.tab a:hover,.tabs.tabs-invert li.tab a:active,.tabs.tabs-invert li.tab a:focus,.tabs.tabs-invert li.tab a.active,.btn:hover,a.btn:hover,.btn-flat:hover,.hs-button:hover,.form-inverted ::-webkit-input-placeholder:hover,.form-inverted ::-webkit-input-placeholder:focus,.form-inverted :-moz-placeholder:hover,.form-inverted :-moz-placeholder:focus,.form-inverted ::-moz-placeholder:hover,.form-inverted ::-moz-placeholder:focus,.form-inverted :-ms-input-placeholder:hover,.form-inverted :-ms-input-placeholder:focus,.form-inverted input[type="text"]:focus ::-webkit-input-placeholder,.form-inverted input[type="password"]:focus ::-webkit-input-placeholder,.form-inverted input[type="email"]:focus ::-webkit-input-placeholder,.form-inverted input[type="text"]:focus :-moz-placeholder,.form-inverted input[type="password"]:focus :-moz-placeholder,.form-inverted input[type="email"]:focus :-moz-placeholder,.form-inverted input[type="text"]:focus ::-moz-placeholder,.form-inverted input[type="password"]:focus ::-moz-placeholder,.form-inverted input[type="email"]:focus ::-moz-placeholder,.form-inverted input[type="text"]:focus :-ms-input-placeholder,.form-inverted input[type="password"]:focus :-ms-input-placeholder,.form-inverted input[type="email"]:focus :-ms-input-placeholder,.invert,#mainHeader-mobile-nav li.primary a:hover,#mainHeader-mobile-nav li.primary a:active,#mainHeader-mobile-nav li.primary a:focus,#data-orbit-section .data-orbit-wrap>li.data-orbit-caption .change-text-wrap {
color:#fff;
}

.text-white a,.text-trans-white,.tabs.tabs-invert li.tab,.tabs.tabs-invert li.tab a,.form-inverted ::-webkit-input-placeholder,.form-inverted :-moz-placeholder,.form-inverted ::-moz-placeholder,.form-inverted :-ms-input-placeholder,#mainHeader-mobile-nav li.primary a,.strap-footer a {
color:rgba(255,255,255,0.75);
}

.text-white a.no-style,.text-white a.btn:hover,.text-white a.btn:focus,.text-white a.btn:active,.text-white a.btn-flat:hover,.text-white a.btn-flat:focus,.text-white a.btn-flat:active,a.no-style:hover,a.no-style:focus,a.no-style:active,.btn.active,.btn:active,a.btn.active,a.btn:active,.btn-flat.active,.btn-flat:active,.hs-button.active,.hs-button:active,input[type="text"].form-control:focus,input[type="password"].form-control:focus,input[type="email"].form-control:focus,.ui-autocomplete-input.form-control:focus,textarea.form-control:focus,.uneditable-input.form-control:focus,.home #mainHeader,#supporters .supporters-wrap a:hover,#supporters .supporters-wrap a:focus,#supporters .supporters-wrap a:active {
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
}

.text-dark-gray,.dropdown-content.dropdown-full .row>div a,.dropdown-content.dropdown-full .row>div a:hover,.dropdown-content.dropdown-full .row>div a:focus,.tabs li.tab a:hover,.tabs li.tab a:active,.tabs li.tab a:focus,#mainHeader-mobile-nav li a:hover,#mainHeader-mobile-nav li a:active,#mainHeader-mobile-nav li a:focus,#subHeader .tabs li.tab a:hover,#subHeader .tabs li.tab a:active,#subHeader .tabs li.tab a.active,#subHeader .tab-btn a:hover,#subHeader .tab-btn a:active,#subHeader .tab-btn a.active,.darkblue-bg .sign-up input[type="submit"]:hover,.darkblue-bg .sign-up input[type="submit"]:focus,.darkblue-bg .sign-up input[type="submit"].active,.slider:not(.hero-slider) .slides li .caption p,#blog-nav li a:hover,#blog-nav li a:active,#blog-nav li a.active {
color:#3b4250;
}

.gray-00-bg,#mainHeader .btn-icon:hover,#mainHeader .btn-icon:active,#mainHeader .btn-icon:focus {
background:#fafafa;
}

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.left,#mainHeader .navbar-header {
float:left;
}

.col-xs-offset-0,#mainHeader .btn-icon:first-child,#blog-nav .btn-icon:first-child {
margin-left:0;
}

.waves-effect.waves-light-blue .waves-ripple,#mainHeader .btn-secondary.waves-effect .waves-ripple {
background-color:rgba(71,184,229,0.1);
}

.btn-floating.btn-primary,#mainHeader-mobile-nav li.primary {
background-color:#47b8e5;
color:#fff;
}

.open .btn-primary.dropdown-toggle,#mainHeader-mobile-nav li.primary:hover,#mainHeader-mobile-nav li.primary:active,#mainHeader-mobile-nav li.primary:focus {
background-color:#1fa5da;
}

.input-container label,[hidden],#header.hide-header-cta #mainHeader .navbar-brand-icon,#header.headroom--top #mainHeader .navbar-brand-icon,#header.show-header-cta #mainHeader .navbar-brand-logo,.home #mainHeader .header-resources-link,#uses-section .use-wrap.use-email-active .use-caption .use-intro-only,#uses-section .use-wrap.use-loyalty-active .use-caption .use-intro-only,#uses-section .use-wrap.use-social-active .use-caption .use-intro-only,#uses-section .use-wrap.use-email-active .use-caption .use-caption-l2-intro,#uses-section .use-wrap.use-loyalty-active .use-caption .use-caption-l2-intro,#uses-section .use-wrap.use-social-active .use-caption .use-caption-l2-intro,#offers #offers-sections .offer-section#offer-trigger #behavior-trigger,#offers-mobile #offers-sections .offer-section#offer-trigger #behavior-trigger,#offers #offers-sections .offer-section#offer-trigger.behavior-trigger-active #basic-trigger,#offers-mobile #offers-sections .offer-section#offer-trigger.behavior-trigger-active #basic-trigger,false,.single-post>.card .byline .author-link .author,.step-start .navbar-checks .check-1,.step-start .navbar-checks .check-2,.step-start .navbar-checks .check-3,.step-1-done .navbar-checks .step-1,.step-1-done .navbar-checks .check-2,.step-1-done .navbar-checks .check-3,.step-2-done .navbar-checks .step-1,.step-2-done .navbar-checks .step-2,.step-2-done .navbar-checks .check-3,.step-3-done .navbar-checks .step-1,.step-3-done .navbar-checks .step-2,.step-3-done .navbar-checks .step-3 {
display:none;
}

#header.hide-header-cta #mainHeader .navbar-brand-logo,#header.headroom--top #mainHeader .navbar-brand-logo,#header.show-header-cta #mainHeader .navbar-brand-icon {
display:inherit;
}

#mainHeader .btn-icon.waves-effect .waves-ripple,#blog-nav .btn-icon.waves-effect .waves-ripple {
background-color:rgba(59,66,80,0.1);
}

#header.slack-header .slack-header-cta,#header.slack-header #mainHeader {
transition:transform 100ms linear;
transform:translateY(-64px);
}

#header.slack-header.headroom--top .slack-header-cta,#header.slack-header.headroom--top #mainHeader {
transform:translateY(0px);
}

.slack-header-wrap #mainHeader {
top:64px;
}

#mainHeader .navbar-header .navbar-brand {
height:64px;
}

#header.hide-header-cta #mainHeader .mobile-navcta,#header.headroom--top #mainHeader .mobile-navcta,.hero-material .hero-darkgreen,.hero-material .hero-lightgreen,.hero-material .hero-bike,.hero-material .hero-jogging,.hero-material .hero-eating,.hero-material .hero-swimming,#blog-recents .post-listing .post:nth-child(2),#blog-recents .post-listing .post:nth-child(3) {
display:none;
}

.home .main-content {
margin-top:5.5em;
}

.main-content {
float:right;
margin-top:64px;
}

.col-xs-12,.phone-graphic-wrap .phone,.input-container .hs_submit input[type="submit"],.full,.third-half,.three-fourths,.fourth,.third,.two-thirds,.sections #contact .card paper-input,.sections #contact .card paper-autogrow-textarea,.sections #contact .card paper-dropdown-menu,.sections #white-paper .card paper-input,.sections #white-paper .card paper-autogrow-textarea,.sections #white-paper .card paper-dropdown-menu {
width:100%;
}

.full.padding {
padding:0 1em;
}