<div class="container">
  <div class="row">
    <div class="col l6 offset-l3 s12">
      <p>Hello <%= @resource.email %>!</p>
      <p>We're contacting you to notify you that your password has been changed.</p>
    </div>
  </div>
</div>
<style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
</style>